server {
  listen 80;
  listen [::]:80;
  server_name {{ domain }};
  root /var/www/{{ domain }};
  
  location / {
  if ($http_{{ access_header_key }} != "{{ access_header_value }}") {
       	proxy_pass http://localhost:5000; // Get out to dockerized app
    }

    try_files $uri $uri/ =404;
  }
}
